* {
    font-family: Open Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Trebuchet MS; */
    margin: 0;
}

/* ========== NAV BAR ========== */

/* General nav-bar styling */
.nav-bar {
    overflow: hidden; /* Ensures the bar stays clean if content overflows */
    width: 100%; /* Full-width bar across the top */
    padding: 0; /* Remove extra padding */
    margin: 0; /* Remove extra margin */
    display: flex; /* Flex layout to align items */
    justify-content: left; /* Center the links horizontally */
    box-sizing: border-box;
    border-bottom: 2px solid dimgray;
  }

  .nav-bar nav {
    /* margin-left: 5cm; */
    min-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* Styling for the nav links */
  .nav-bar nav a {
    color: dimgray; /* White text for contrast */
    text-decoration: none; /* Remove blue underline formatting */
    display: inline-block; /* Ensures proper box behavior */
    margin-top: 5mm;
    margin-bottom: 5mm;
    margin-right: 5mm;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effects */
  }
  
  /* Hover effects for links */
  .nav-bar nav a:hover {
    color: DodgerBlue; /* Change text color to dark turquoise on hover */
  }

  .nav-bar .curr-page {
    color: DodgerBlue;
  }

/* ========== a ========== */

a {
    color: dodgerblue;
    text-decoration-style: dotted;
}

a:hover {
    text-decoration-style: solid;
  }

/* ========== SIDE BAR ========== */

.side-bar {
    float: left;
    /* margin-left: 4mm; */
    margin-right: 1rem;
    /* background-color: lightgrey; */
    text-align: center;
    margin-bottom: 1rem;
}

.side-bar-text {
    margin-top: 1em;
    margin-bottom: 1em;
}

.social-buttons {
    display: flex;         /* Align buttons in a row */
    gap: 15px;             /* Space between buttons */
    justify-content: center;
    /* margin-top: 6mm; */
}

.social-icon {
    height: 25px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.1); /* Slight zoom on hover */
    opacity: 0.8;          /* Dim slightly on hover */
}

.email {
    /* font-size: .75rem; */
    font-family: 'Courier New', Courier, monospace;
    /* color: dimgray; */
}

/* ========== IMAGES ========== */

img {
    max-width: 100%; /* Ensures the image scales down if it's too large */
    width: auto;    /* Maintains aspect ratio */
    /* border-radius: 50%; Optional: Makes it circular */
}

.headshot {
    width: 250px;  /* Adjust size as needed */
    border-radius: 0.25rem; /* Optional: Makes it circular */
    object-fit: cover; 
}

/* ========== DEFAULT TEXT ========== */

.main {
    margin-top: 1cm;
    max-width: 1000px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.standard {
    margin-top: 5mm;
    margin-bottom: 5mm;
}

.norm-text {
    color: dimgray;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news-list {
    padding-left: 5mm;
}

.norm-text b {
    color: black;
}

/* ========== BIBLIOGRAPHY ========== */

.bibliography h2 {
    color: lightgrey;
    border-top: 1px solid dimgray;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
}

.bibliography ol {
    margin-bottom: 1rem;
    padding-left: 0rem;
    list-style: none;
}

.bibliography li {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.bibliography li > div:first-child {
    width: 100px;  /* or whatever width accommodates your longest journal tag */
    text-align: right;
    flex-shrink: 0;  /* prevents shrinking */
}

abbr.journal-tag {
    display: inline-block;
    color: white;
    background-color: dodgerblue;
    padding-left: 1rem;
    padding-right: 1rem;

    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

    color: #fff !important;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bib-body {
    max-width: calc(80% - 100px);  /* subtracts the journal tag width */
    padding-left: 2rem;
    position: relative;
}

.bib-body div {
    margin-bottom: 0.25rem;
}

.bib-body div.title {
    font-weight: bolder;
}

.bib-body div.author {
    color: dimgray;
}

.bib-body div.author em {
    text-decoration: underline;
    font-style: normal;
}

.bib-body div.author span.author-expander {
    color: dimgrey;
    border-bottom: 1px dashed dimgrey;
    cursor: pointer;
}

.bib-body div.journal {
    color: dimgray;
    font-style: italic;
}

.bib-body div.links {
    margin-top: .5rem;
}

.bib-body div.links a {
    color: dimgray;
    border: 1px solid dimgray;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-left: 0;
}

.link-btn {
    margin: .25rem;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border-radius: .125rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: .81rem;
}

/* ========== PROJECTS ========== */

.project {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project p {
    color: dimgray;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* ========== FOOTER ========== */

.foot {
    background-color: dimgrey;
    color: white;
    font-size: .75rem;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;

    text-align: center;
}


